@model List<AvisFormation.Data.Formation>
@{
    ViewBag.Title = "ToutesLesFormations";
}

<h2>ToutesLesFormations</h2>


@foreach (var formation in Model)
{
    <div><span>Nom :</span><span>@formation.Nom</span></div>
    <div><span>Description :</span><span>@formation.Description</span></div>
}
