@model AvisFormation.WebUi.Models.LaisserUnAvisViewModel
@{
    ViewBag.Title = "Laisser un avis sur " +@Model.FormationName;
}

@using (Html.BeginForm("SaveComment", "Avis", FormMethod.Post))
{
    <label>Nom :</label>
    <input type="text" name="nom" id="nom" />
    <br />
    <label>Commentaire :</label>
    <textarea name="commentaire" id="commentaire" rows="5"></textarea>
    <br />
    <label>Choisissez une note entre 1 et 5</label>
    <select name="note" id="note" required>
        <option>1</option>
        <option>1.5</option>
        <option>2</option>
        <option>2.5</option>
        <option>3</option>
        <option>3.5</option>
        <option>4</option>
        <option>4.5</option>
        <option>5</option>
    </select>
    <input type="submit" value="OK" />

    <input type="hidden" value="@Model.NomSeo" name="nomSeo" id="nomSeo"/>
}

